
/* ProductList.jsx */
.product__list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


/* Product.jsx */
.product__container{
    border: none;
    border-radius: 5px;
    background-color: rgb(244, 231, 211);
    padding: 8px;
    margin: 12px;
}

.product__price{
    display: flex;
    margin-right: 15px;
}

.product__real__price{
    font-size: small;
    font-weight: lighter;
    text-decoration: line-through;
    margin-left: 8px;
    margin-right: 8px;
}

.product__discount_percentage{
    font-size: small;
    color: rgb(122, 122, 252);
}

.btn_product__cart{
    padding: 8px 18px 8px 18px;
    border-radius: 5px;
    background-color: rgb(97, 97, 244);
    color: #ffffff;
    border: none;
}

.btn_product__cart:hover{
    background-color: rgb(60, 60, 244);
}